.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainStyle {
  width: 100%;
  float: left;
  font-size: 24px;
}
.responseSearchStyle {
  width: 100%;
  font-size: 16px;
  height: 800px;
}
.tableStyle {
  max-height: 400px;
  width: 100%;
}

.tooltipStyle {
  float: right;
  padding: 10px;
  position: relative;
  top: 100%;
  opacity: 1;
}
.searchComponentStyle {
  width: 100%;
  height: 750px;

}
.resultTableStyle {
  width: 100%;
  height: 500px;
}
.searchComponentTooltipProgressStep {
  float: right;
  padding: 10px;
  position: relative;
  top: 600px;
}
.dataTableStyle {
  max-height: 500px;
  overflow-y: auto;
}